# Each item listed in this file will be ignored by git
# and will not be uploaded to github. The blank lines
# and comments are unnecessary, but included for 
# clarification.

# Node modules
node_modules

# Environment variables
.env

# System files
**/.DS_Store

# Build output
dist/
build/
.eslintcache/